<!--
  Generated template for the BuyerDashboardPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar cheers>
        <ion-title>Dashboard</ion-title>

        <ion-buttons end>
            <button (click)="showLookingforModal()">
                <ion-icon name="megaphone"></ion-icon>
            </button>

            <button (click)="goToUpdateProfilePage()">
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- Buyer Details -->
    <ion-card class="user-details">
        <ion-item>
            <ion-avatar class="avatar">
                <img src="img/default_avatar.jpg" *ngIf="!user.image">
                <img [src]="user.image" *ngIf="user.image">
            </ion-avatar>
            <div class="info">
                <h2 class="name">{{user.fullname}}</h2>
                <p class="work">
                    <span *ngIf="user.job_description">{{user.job_description}}</span>
                    <span *ngIf="user.job_description && user.company_name">@</span>
                    <span *ngIf="user.company_name">{{user.company_name}}</span>
                </p>
                <p class="stats">
                    <span class="level">
                        <ion-icon name="star" bright></ion-icon> 0
                    </span>
                </p>
            </div>
        </ion-item>
    </ion-card>
    <!-- End of Buyer Details -->

    <!-- Dashboard Lists (Invites, Messages, and Sellers Nearby) -->
    <ion-list>
        <div *ngIf="sellers.length">
            <ion-item class="seller seller-nearby" *ngFor="let seller of sellers">
                <cheers-avatar [user]="seller" item-left></cheers-avatar>
                <!-- <ion-avatar item-left>
                    <img src="img/default_avatar.jpg" *ngIf="!seller.image">
                    <img [src]="seller.image" *ngIf="seller.image">
                </ion-avatar> -->

                <h2>{{seller.store_name}}</h2>
                <p>{{seller.emote_message}}</p>
            </ion-item>
        </div>

        <!-- No buyers nearby -->
        <ion-item class="item-plain empty-dashboard" *ngIf="!sellers.length">
            <ion-icon name="sad" bright></ion-icon>
            It seems nobody is around you...
        </ion-item>

        <!-- Associate Invite -->
        <ion-item class="seller associate-invite" *ngIf="user.store_uuid">
            <ion-avatar item-left>
                <img src="img/default_avatar.jpg" *ngIf="!user.store_image">
                <img [src]="user.store_image" *ngIf="user.store_image">
            </ion-avatar>

            <h2>{{user.store_name}}</h2>
            <p>{{user.store_name}} hired you as staff!</p>

            <div item-right class="invite-controls">
                <button outline success (click)="acceptInvitation()">
                    <ion-icon name="checkmark"></ion-icon>
                </button>
                <button outline danger (click)="rejectInvitation()">
                    <ion-icon name="close"></ion-icon>
                </button>
            </div>
        </ion-item>

        <!-- Award -->
        <div *ngIf="history.length">
            <ion-item class="seller award" *ngFor="let item of history; let i = index">
                <ion-avatar item-left>
                    <img src="img/default_avatar.jpg" *ngIf="!item.store_image">
                    <img [src]="item.store_image" *ngIf="item.store_image">
                </ion-avatar>

                <h2>{{item.store}}</h2>
                <p>{{item.message}}</p>
                <p class="price" secondary>P {{item.price}}</p>
                <time class="time-ago" item-right>{{item.date}}</time>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
