.buyer-dashboard-page {
    .seller {
        ion-avatar {
            height: 4rem;
            width: 4rem;

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    .associate-invite {
        .invite-controls {
            button {
                height: 30px;
                width: 40px;
            }
        }
    }

    .empty-dashboard {
        text-align: center;

        .item-icon {
            display: block;
            font-size: 5rem;
            margin: auto auto 10px;
            text-align: center;
        }
    }
}
