.seller-signup-page {
    .buyer-redirect.item {
        .item-inner {
            a {
                color: #ffffff;
                text-decoration: underline;
            }
        }
    }

    .item-plain {
        background-color: transparent;
    }
}
