.seller-settings-page {
	.tab-button { color: #ef9d51; opacity: 1; }
	.tab-button[aria-selected=true] { color: #ef9d51; }
	tab-highlight { background: #ef9d51 }

	ion-footer .toolbar-background { background: #ef9d51; }
	ion-footer .toolbar-content .button-clear { color: #ffffff; height: 2.5rem; }
}

