.cheers-bg-image {
    background-image: url(../../img/bg-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding: 5px 15px;

    h1.app-name {
        margin: 0;
        padding: 10px 30px;
    }

    img {
        display: block;
        width: 100%;
    }

    p.tagline {
        color: #ffffff;
        font-size: 1.6rem;
        text-align: center;
    }
}

// Removes some padding and fixes the input in a form
form.padding-less-input {
    .item {
        background: none;
        padding-left: 0;
        padding-right: 0;

        .text-input {
            color: #ffffff;

            &::placeholder {
                color: #ffffff;
            }
        }

        &:after {
            left: 0;
        }

        ion-icon {
            color: #ffffff;
        }
    }
}

// ion-item with no border-bottom
.item.item-plain {
    .item-inner {
        border-bottom: 0;
    }
}

// User Details Card
.user-details {
    .item-inner {
        padding-right: 0;
    }

    .avatar {
        margin: auto auto 5px;
        width: 10rem;
        height: 10rem;

        img {
            border-radius: 50%;
            height: 100%;
            margin: auto;
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    .info {
        text-align: center;

        .name {
            font-size: 1.7rem;
            font-weight: bold;
        }

        .stats {
            span {
                margin-right: 5px;
            }
        }

        .looking-for {
            padding: 10px 0 5px;

            .product {
                color: #000000;
            }
        }
    }
}
