<!--
  Generated template for the SellerShopperViewPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar cheers>
        <ion-title>Window Shopper</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- Shopper Details -->
    <ion-card class="user-details">
        <ion-item>
            <cheers-avatar [user]="shopper"></cheers-avatar>
            <div class="info">
                <h2 class="name">{{shopper.fullname}}</h2>
                <p class="work">
                    <span class="job-description" *ngIf="shopper.job_description">
                        {{shopper.job_description}}
                    </span>
                    <span *ngIf="shopper.job_description && shopper.company_name">@</span>
                    <span class="company" *ngIf="shopper.company_name">
                        {{shopper.company_name}}
                    </span>
                </p>
                <p class="stats">
                    <span class="level">
                        <ion-icon name="star" bright></ion-icon> 0
                    </span>
                    <span class="went-by">
                        <ion-icon name="refresh" cheers></ion-icon> 0
                    </span>
                    <span class="conversions">
                        <ion-icon name="cash" secondary></ion-icon> 0%
                    </span>
                </p>
                <p class="looking-for" *ngIf="shopper.looking_for">
                    <span class="label">Looking for:</span>
                    <span class="product">{{shopper.looking_for}}</span>
                </p>
            </div>
        </ion-item>
    </ion-card>
    <!-- End of Shopper Details -->

    <!-- History List -->
    <ion-list class="history-list" *ngIf="history.length">
        <ion-list-header>History</ion-list-header>
        <ion-item class="history" *ngFor="let item of history; let i = index">
            <h2>{{item.item}}</h2>
            <p class="price" secondary>P {{item.price}}</p>
            <time class="time-ago" item-right>{{item.date}}</time>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button cheers clear block
            (click)="showAwardModal()">Award Customer</button>
    </ion-toolbar>
</ion-footer>
