<!--
  Generated template for the CheersAvatar component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-avatar class="cheers-avatar avatar" *ngIf="user">
    <!-- <img src="img/default_avatar.jpg" *ngIf="!user.image"> -->
    <!-- <p *ngIf="!errorImage">

    </p>
    <p class="user-fullname" *ngIf="!user.image || errorImage">{{user.fullname}}</p> -->
    <img [src]="user.image" *ngIf="!fetching && user.image"/>
    <p class="user-fullname" *ngIf="!fetching && !user.image">{{user.fullname}}</p>
</ion-avatar>
