<!--
  Generated template for the SellerDashboardPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar cheers>
        <ion-title>Cheers</ion-title>

        <ion-buttons start>
            <button (click)="goToAssociatesPage()">
                <ion-icon name="contacts"></ion-icon>
            </button>
        </ion-buttons>

        <ion-buttons end>
            <button (click)="showEmoteModal()">
                <ion-icon name="megaphone"></ion-icon>
            </button>

            <button (click)="goToSettingsPage()">
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- Seller Details -->
    <ion-card class="user-details">
        <ion-item *ngIf="user">
            <ion-avatar class="avatar">
                <img src="img/default_avatar.jpg" *ngIf="!user.image">
                <img [src]="user.image" *ngIf="user.image">
            </ion-avatar>
            <div class="info">
                <h2 class="name">{{user.store_name}}</h2>
                <p class="work">
                    {{user.fullname}}
                </p>
            </div>
        </ion-item>
    </ion-card>
    <!-- Seller of Buyer Details -->

    <!-- List of Nearby Shoppers -->
    <ion-list>
        <div *ngIf="shoppers.length">
            <button ion-item class="shopper"
            *ngFor="let shopper of shoppers"
            (click)="goToShopperDetails(shopper)">
                <cheers-avatar [user]="shopper" item-left></cheers-avatar>
                <!-- <ion-avatar item-left>
                    <img src="img/default_avatar.jpg" *ngIf="!shopper.image">
                    <img [src]="shopper.image" *ngIf="shopper.image">
                </ion-avatar> -->

                <h2>{{shopper.fullname}}</h2>
                <p class="work">
                    <span class="job-description" *ngIf="shopper.job_description">
                        {{shopper.job_description}}
                    </span>
                    <span *ngIf="shopper?.job_description && shopper.company_name">@</span>
                    <span class="company" *ngIf="shopper.company_name">
                        {{shopper.company_name}}
                    </span>
                </p>
                <p class="stats">
                    <span class="level">
                        <ion-icon name="star" bright></ion-icon> 0
                    </span>
                    <span class="went-by">
                        <ion-icon name="refresh" cheers></ion-icon> 0
                    </span>
                    <span class="conversions">
                        <ion-icon name="cash" secondary></ion-icon> 0%
                    </span>
                </p>
                <p class="looking-for" *ngIf="shopper.looking_for">
                    <span class="label">Looking for:</span>
                    <span class="product">{{shopper.looking_for}}</span>
                </p>
            </button>
        </div>

        <!-- No Shoppers -->
        <ion-item class="empty-dashboard item-plain"
        *ngIf="!scanning && !shoppers.length">
            <ion-icon name="sad" bright></ion-icon>
            No shoppers nearby...
        </ion-item>

        <!-- Loader -->
        <ion-item class="loader item-plain"
        *ngIf="scanning && !shoppers.length">
            <ion-spinner name="crescent"></ion-spinner>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer class="scanner">
    <ion-toolbar cheers>
        <ion-title *ngIf="scanning">Scanning...</ion-title>
        <ion-title *ngIf="!scanning">Press the button to start scanning</ion-title>
        <ion-buttons end>
            <button (click)="toggleScan()">
                <ion-icon name="pause" *ngIf="scanning"></ion-icon>
                <ion-icon name="play" *ngIf="!scanning"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
